@import '../../../styles/variables';

.modal {
  position: relative;

  .control {
    position: absolute;
    left: 30px;
    top: -15px;
  }
}

:global(.v--modal-overlay) {
  background-color: rgba(7, 7, 7, 0.6);
}

:global(.v--modal-box) {
  border-radius: 5px;
  padding-top: 40px;
  padding-bottom: 45px;
  background-color: $color-white;
}
