@import '../../../styles/variables';

.modal {
  position: relative;

  .control {
    position: absolute;
    left: 30px;
    top: -15px;
  }

  .close {
    position: absolute;
    right: 20px;
    top: -15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: 20px;
    color: $color-secondary;
    transition: $transition opacity;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }
  }
}

:global(.v--modal-overlay) {
  background-color: rgba(7, 7, 7, 0.6);
}

:global(.v--modal-box) {
  border-radius: 5px;
  padding-top: 40px;
  padding-bottom: 45px;
  background-color: $color-white;
}
