@import '../../../styles/variables';
@import '../../../styles/vendor/grid-bootstrap/mixins/breakpoints';

.modal {
  position: relative;

  .control {
    position: absolute;
    left: 30px;
    top: -15px;

    @include media-breakpoint-down(vs) {
      left: 15px;
      top: -25px;
    }
  }

  .close {
    position: absolute;
    right: 20px;
    top: -15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: 20px;
    color: $color-secondary;
    transition: $transition opacity;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }
  }
}
