@import '../../../styles/variables';
@import '../../../styles/vendor/grid-bootstrap/mixins/_breakpoints';
@import '../../../styles/vendor/grid-bootstrap/mixins/_grid';

.container {
  @include make-container();
  @include make-container-max-widths();

  @include media-breakpoint-up($grid-breakpoints(sm)) {
    padding-right: 10px;
    padding-left: 10px;
    min-width: 320px;
  }
}

.container-fluid {
  @include make-container();

  @include media-breakpoint-up($grid-breakpoints(sm)) {
    padding-right: 10px;
    padding-left: 10px;
    min-width: 320px;
  }
}
