@import '../../styles/variables';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  border-radius: 6px;
  width: 155px;
  height: 48px;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: $color-white;
  background-color: $color-primary;
  cursor: pointer;
}
