@import '../../../styles/variables';

.button {
  $font-size: 14;
  $line-height: 19;

  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  border-radius: 6px;
  padding-right: 24px;
  padding-left: 24px;
  min-height: 48px;
  font-weight: 700;
  font-size: #{$font-size}px;
  line-height: #{$line-height}px;
  text-transform: uppercase;
  color: $color-white;
  background-color: $color-primary;
  transition: $transition;
  transition-property: background-color;
  cursor: pointer;

  i {
    position: relative;
    top: -1px;
    margin-right: 6px;
    font-size: #{$font-size * 1.4}px;
    line-height: #{$line-height * 1.4}px;
  }

  &:hover {
    background-color: lighten($color-primary, 10);
  }

  &:active {
    background-color: darken($color-primary, 10);
  }

  &--icon {
    padding-right: 14px;
    padding-left: 14px;
  }

  &--notext {
    i {
      margin-right: 0;
    }
  }

  &--small {
    $font-size: 11;
    $line-height: 15;

    border-radius: 4px;
    min-height: 32px;
    font-weight: 600;
    font-size: #{$font-size}px;
    line-height: #{$line-height}px;

    i {
      margin-right: 5px;
      font-size: #{$font-size * 1.4}px;
      line-height: #{$line-height * 1.4}px;
    }
  }

  &--large {
    $font-size: 16;
    $line-height: 21;

    min-height: 56px;
    font-size: #{$font-size}px;
    line-height: #{$line-height}px;

    i {
      margin-right: 15px;
      font-size: #{$font-size * 1.7}px;
      line-height: #{$line-height * 1.7}px;
    }
  }

  &--secondary {
    background-color: $color-secondary;

    &:hover {
      background-color: lighten($color-secondary, 10);
    }

    &:active {
      background-color: darken($color-secondary, 10);
    }
  }

  &--fluid {
    flex: 1 0 auto;
  }
}
