@import '../../../styles/variables';

.uploader {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;

  .original {
    position: absolute;
    z-index: -1;
    margin: 0;
    outline: none;
    width: 0;
    height: 0;
    opacity: 0;
  }

  .image {
    position: relative;
    overflow: hidden;
    border-radius: 50%;

    &:hover {
      .delete {
        opacity: 1;
        pointer-events: initial;
      }
    }
  }

  .delete {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    background-color: rgba($color-link, 0.6);
    opacity: 0;
    transition: $transition;
    transition-property: background-color, opacity;
    cursor: pointer;
    pointer-events: none;
  }

  .icon {
    position: absolute;
    bottom: 15%;
    font-size: 20px;
    color: $color-white;
  }

  .button {
    margin-top: 28px;

    &:hover {
      text-decoration: none;
    }
  }
}
