@import './variables';

html,
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: $color-default;

  h1 {
    font-size: 32px;
    line-height: 43px;
  }

  h2 {
    font-size: 22px;
    line-height: 29px;
  }

  h3 {
    font-size: 18px;
    line-height: 24px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Segoe', sans-serif;
    font-weight: 600;
  }

  a {
    color: $color-link;
  }

  p {
    font-size: 16px;
    line-height: 24px;
  }

  small {
    font-size: 12px;
    line-height: 18px;
  }

  .block-link {
    display: flex;
    flex: 1 0 auto;
    text-decoration: none;
  }
}
