@import './variables';

html {
  font-size: 14px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: $color-default;
  background-color: $color-background;

  h1 {
    font-size: 32px;
    line-height: 43px;
  }

  h2 {
    font-size: 22px;
    line-height: 29px;
  }

  h3 {
    font-size: 18px;
    line-height: 24px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Segoe', sans-serif;
    font-weight: 600;
  }

  a {
    color: $color-link;
  }

  p {
    font-size: 16px;
    line-height: 24px;
  }

  small {
    font-size: 12px;
    line-height: 16px;
  }

  b {
    display: inline;
    font-weight: 700;
  }
}

// Global classes

.dd-layout {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  min-height: 100vh;
}

.dd-content {
  flex: 1 0 auto;
}

.dd-header {
  position: relative;
  background-color: $color-white;

  a {
    align-self: flex-start;
  }
}

.dd-profile {
  .dd-profile-text {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  @include media-breakpoint-down(md) {
    align-self: stretch;
  }
}

.dd-line {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: 1px;
    background-color: $color-light;
  }
}

// Global states

.dd-is-disabled {
  opacity: 0.6;
  pointer-events: none;
}

// Global overwrites

:global(.v--modal-overlay) {
  background-color: rgba($color-black, 0.6);
}

:global(.v--modal-box) {
  border-radius: 5px;
  padding-top: 40px;
  padding-bottom: 45px;
  background-color: $color-white;
}

// Global animations

.fade-enter-active,
.fade-leave-active {
  transition: $transition opacity;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
