// BASE COLORS
$color-white: #fff;
$color-black: #000;
$color-primary: #005291;
$color-default: #1b1919;
$color-link: #617c92;
$color-secondary: #989898;
$color-light: #e3e3e3;
$color-background: #f8f8f8;

// STATUS COLORS

$color-status-progress: #ffe284;
$color-status-waiting: #ff9184;
$color-status-testing: #84d9ff;
$color-status-complete: #ceedb6;

// MESSAGE COLORS

$color-message-success: #58c556;
$color-message-error: #f0503d;

// OTHER

$transition: 0.2s ease;

// BOOTSTRAP

$grid-columns: 12;
$grid-gutter-width: 0;

$grid-breakpoints: (
  xs: 0,
  vs: 375px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

$breakpoint-xsm: 370px;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1080px,
);
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: (
      $spacer * 0.25,
    ),
    2: (
      $spacer * 0.5,
    ),
    3: $spacer,
    4: (
      $spacer * 1.5,
    ),
    5: (
      $spacer * 3,
    ),
    6: (
      $spacer * 6,
    ),
    7: (
      $spacer * 12,
    ),
  ),
  $spacers
);
// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$sizes: map-merge(
  (
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
    auto: auto,
  ),
  $sizes
);
