// BASE COLORS

$color-white: #fff;
$color-black: #000;
$color-primary: #005291;
$color-default: #1b1919;
$color-link: #617c92;
$color-secondary: #989898;
$color-light: #e3e3e3;

// STATUS COLORS

$color-progress: #ffe284;
$color-waiting: #ff9184;
$color-testing: #84d9ff;
$color-complete: #ceedb6;
