@import '../../../styles/variables';

.userpic {
  --size: 33;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
  width: calc(var(--size) * 1px);
  height: calc(var(--size) * 1px);
  background-color: $color-light;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .icon {
    position: absolute;
    font-size: calc(var(--size) * 0.45px);
    color: $color-secondary;
  }
}
