@import '../../../styles/variables';

.block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  padding: 5px 20px;
  width: 100%;
  height: $size;
  background-color: $color-white;
  transition: $transition background-color;

  &--progress {
    background-color: $color-status-progress;
  }

  &--waiting {
    background-color: $color-status-waiting;
  }

  &--testing {
    background-color: $color-status-testing;
  }

  &--complete {
    background-color: $color-status-complete;
  }

  &--planned,
  &--progress,
  &--waiting,
  &--testing,
  &--complete {
    padding: 8px 0;
  }

  &--empty {
    justify-content: center;
    padding: 5px 0;
  }

  &--link {
    cursor: pointer;
  }

  &--disabled {
    opacity: 0.6;
    pointer-events: none;
  }

  &--small {
    height: $size-small;
  }

  &--medium {
    height: $size-medium;
  }

  &--large {
    height: $size-large;
  }
}
