@import '../../../styles/variables';

.block {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  padding: 5px 20px;
  width: 100%;
  background-color: $color-white;

  &--progress {
    background-color: $color-status-progress;
  }

  &--waiting {
    background-color: $color-status-waiting;
  }

  &--testing {
    background-color: $color-status-testing;
  }

  &--complete {
    background-color: $color-status-complete;
  }

  &--planned,
  &--progress,
  &--waiting,
  &--testing,
  &--complete {
    padding: 8px 0;
  }

  &--purge {
    justify-content: center;
    padding: 5px 0;
  }

  &--link {
    cursor: pointer;
  }
}
