@import '../../../styles/variables';

.card {
  position: relative;
  border: 1px solid $color-light;
  border-radius: 10px;
  padding: 10px 45px 25px 33px;

  .title {
    color: $color-secondary;
  }

  .content {
    position: relative;
  }
}
