@import '../../../styles/variables';

.select {
  position: relative;
  flex: 1 0 auto;

  .caret {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 100%;
    font-size: 19px;
    line-height: 25px;
    color: $color-secondary;
    transition: $transition;
    transition-property: transform;
    cursor: pointer;
  }

  :global(.multiselect--active) {
    .caret {
      transform: rotate(180deg);
      transform-origin: 50% 50%;
    }
  }

  :global(.multiselect--disabled) {
    background-color: transparent;
  }

  :global(.multiselect__tags) {
    display: flex;
    border: 1px solid $color-light;
    border-radius: 6px !important;
    padding: 10px 40px 0 14px;
    padding-top: 0;
    min-height: 48px;
  }

  :global(.multiselect__placeholder) {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding-top: 0;
    font-size: 16px;
    line-height: 19px;
    color: $color-secondary;
  }

  :global(.multiselect__select) {
    height: 48px;
  }

  :global(.multiselect__single) {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding-left: 0;
    font-size: 16px;
    line-height: 19px;
    color: $color-default;
  }

  :global(.multiselect__content-wrapper) {
    overflow: visible;
    border: none !important;
    background-color: transparent;
  }

  :global(.multiselect__content) {
    overflow: hidden;
    margin-top: 10px;
    border-radius: 6px;
    box-shadow: 0 8px 32px rgba(27, 25, 25, 0.1);
    background-color: $color-white;
  }

  :global(.multiselect__element) {
    font-size: 16px;
    line-height: 16px;
    color: $color-secondary;

    span {
      display: flex;
      align-items: center;
    }
  }

  :global(.multiselect__option) {
    padding: 10px 20px 10px 14px;
    transition: $transition;
    transition-property: color, background-color;
  }

  :global(.multiselect__option--highlight) {
    font-weight: 400;
    color: $color-secondary;
    background-color: $color-background;
  }

  :global(.multiselect__option--selected),
  :global(.multiselect__option--selected.multiselect__option--highlight) {
    font-weight: 400;
    color: $color-white;
    background-color: $color-primary;
  }

  :global(.multiselect--above .multiselect__content) {
    margin-top: initial;
    margin-bottom: 10px;
  }

  &--image {
    :global(.multiselect__tags) {
      padding-left: 8px;
    }

    :global(.multiselect__placeholder) {
      padding-left: 6px;
    }

    :global(.multiselect__option) {
      padding-left: 8px;
    }
  }

  &--status {
    :global(.multiselect__tags) {
      border: 1px solid transparent;
      background-color: transparent;
    }

    :global(.multiselect__single) {
      background-color: transparent;
    }

    .caret {
      right: 8px;
    }
  }

  &--disabled {
    :global(.multiselect__tags) {
      color: $color-secondary;
      background-color: $color-background;
    }

    :global(.multiselect__single) {
      color: $color-secondary;
      background-color: $color-background;
    }
  }
}
