@import '../../../styles/variables';

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: $color-link;
  background-color: $color-white;
  transition: $transition;
  transition-property: background-color;
  user-select: none;

  .icon {
    margin-right: 10px;
  }

  .text {
    font-size: 16px;
    line-height: 21px;
  }

  &:hover {
    color: $color-default;
    background-color: $color-background;
  }

  &:active {
    color: $color-white;
    background-color: $color-primary;
  }

  &--disabled {
    color: $color-light;
    cursor: initial;

    &:hover,
    &:active {
      color: $color-light;
      background-color: $color-white;
    }
  }

  &--delimiter {
    border-bottom: 1px solid $color-light;
    cursor: initial;

    .text {
      font-size: 12px;
      line-height: 14px;
      color: $color-secondary;
    }

    &:hover,
    &:active {
      background-color: $color-white;
    }
  }
}
