@import '../../../styles/variables';

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: $color-link;
  transition: $transition;
  transition-property: background-color;
  user-select: none;

  &:hover {
    color: $color-default;
    background-color: $color-background;
  }

  &:active {
    color: $color-white;
    background-color: $color-primary;
  }

  &--disabled {
    color: $color-light;
    pointer-events: none;
  }

  &--delimiter {
    border-bottom: 1px solid $color-light;

    .text {
      font-size: 12px;
      line-height: 14px;
    }
  }
}

.icon {
  margin-right: 10px;
}

.text {
  font-size: 16px;
  line-height: 21px;
}
