@import '../../../styles/variables';

.datepicker {
  position: relative;

  input {
    position: relative;
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    outline: none;
    border: 1px solid $color-light;
    border-radius: 6px;
    padding: 12px 14px;
    padding-right: 45px;
    width: 100%;
    height: $size;
    max-width: 100%;
    font-size: 16px;
    line-height: 21px;
    color: $color-default;
    background-color: $color-white;
    transition: $transition;
    transition-property: border, color, background-color;
  }

  :global(.popover-content) {
    background-color: $color-white !important;
  }

  &--focus {
    input {
      border: 1px solid $color-secondary;
    }
  }
}
