@import '../../../styles/variables';

.item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  color: $color-secondary;

  &:last-child {
    margin-bottom: 0;
  }

  &--success {
    .value {
      color: $color-message-success;
    }
  }

  &--error {
    .value {
      color: $color-message-error;
    }
  }
}
