@import '../../../styles/variables';

.item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  color: $color-secondary;

  &:last-child {
    margin-bottom: 0;
  }
}

.name {
  position: relative;
}

.value {
  position: relative;

  &--success {
    color: $color-message-success;
  }

  &--error {
    color: $color-message-error;
  }
}
