@import '../../../styles/variables';
@import '../../../styles/vendor/grid-bootstrap/mixins/breakpoints';

.menu {
  position: relative;
  display: flex;
  margin: 0;
  margin-right: 10px;
  padding: 0;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    padding: 13px 16px;
    text-decoration: none;
    color: inherit;
    transition: $transition all;
    transition-property: color, background-color;
    cursor: pointer;

    &:hover {
      color: $color-primary;
    }

    @include media-breakpoint-down(lg) {
      padding-right: 10px;
      padding-left: 10px;
    }
  }

  .inner {
    display: flex;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  .mobile {
    position: fixed;
    left: 0;
    right: 0;
    top: 90px;
    z-index: 10;
    display: flex;
    flex-flow: column wrap;
    border-top: 1px solid $color-light;
    box-shadow: 0 4px 4px rgba($color-black, 0.25);
    background-color: $color-white;

    a {
      align-self: stretch;
      justify-content: flex-start;
      padding: 20px;
      color: $color-secondary;
      background-color: $color-white;

      &:hover,
      &:active {
        background-color: $color-status-testing;
      }
    }

    @include media-breakpoint-up(lg) {
      display: none;
    }

    @include media-breakpoint-down(vs) {
      top: 67px;
    }
  }

  .icon {
    display: none;
    align-self: flex-start;
    padding: 5px 10px;
    font-size: 17px;
    color: $color-secondary;
    cursor: pointer;

    @include media-breakpoint-down(md) {
      display: block;
    }
  }

  :global(.router-link-active) {
    color: $color-primary;
    background-color: rgba($color-primary, 0.1);
  }

  @include media-breakpoint-down(lg) {
    margin-right: 0;
  }
}
