@import '../../../styles/variables';
@import '../../../styles/vendor/grid-bootstrap/mixins/breakpoints';

.menu {
  position: relative;
  display: flex;
  margin: 0;
  margin-right: 10px;
  padding: 0;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }

    @include media-breakpoint-down(lg) {
      padding-right: 10px;
      padding-left: 10px;
    }
  }

  .inner {
    display: flex;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  .icon {
    display: none;
    align-self: flex-start;
    padding: 10px;
    font-size: 17px;
    color: $color-secondary;
    cursor: pointer;

    @include media-breakpoint-down(md) {
      display: block;
    }
  }

  :global(.router-link-active) {
    text-decoration: underline;
  }
}

:global(.profile-text) {
  @include media-breakpoint-down(md) {
    display: none;
  }
}

:global(.profile-menu-dropdown) {
  @include media-breakpoint-down(md) {
    align-self: stretch;
  }
}
