@import '../../../styles/variables';

.logo {
  display: flex;
  align-items: center;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #f00;
  width: 20px;
  height: 20px;

  &::before {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background-color: #f00;
    transform: rotate(45deg);
    transform-origin: 50% 50%;
  }
}

.text {
  margin-left: 9px;
  padding-top: 1px;
  font-family: 'Segoe', sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 29px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $color-default;
}
