@import '../../../styles/variables';

.switch {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid $color-light;
  border-radius: 30px;
  width: 97px;
  height: 45px;
  cursor: pointer;

  &--disabled {
    opacity: 0.6;
  }
}

.core {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  outline: none;
  border-radius: 30px;
  width: 91px;
  height: 39px;
  background-color: $color-light;
  transition: $transition;
  transition-property: background-color;

  &::after {
    content: '';
    position: absolute;
    left: 4px;
    border-radius: 50%;
    width: 29px;
    height: 29px;
    background-color: $color-white;
    transition: $transition;
    transition-property: left;
  }

  &--checked {
    background-color: $color-message-success;

    &::after {
      left: 57px;
    }
  }
}

.input {
  position: absolute;
  margin: 0;
  width: 0;
  height: 0;
  opacity: 0;
}

.label {
  position: absolute;
  z-index: 10;
  font-size: 20px;
  line-height: 27px;
  color: $color-white;
  user-select: none;

  &--off {
    right: 10px;
  }

  &--on {
    left: 20px;
  }
}
